div[role="radiogroup"] {
    border-left: 2px solid grey;
    padding-left: 10px;
}
.FixedHeightContainer {
    float:right;
    height: 250px;
    width:250px;  
    overflow-y: scroll;
}
MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
h3 {
    color: white;
}
div[role="radiogroup"] {
    padding-left: 10px;
    background-color: #273346;
    border-radius: 5px;
    border: 2px solid #273346;
    padding-top:5px;
    padding-bottom:5px;
}
.css-9wfa1c {
    font-weight: bold;
}
